@charset "utf-8";
/* @author -------- zhuzhu~~~
 * @time   -------- 2014-11-24   11:04
 * @tool   -------- Sass                       */

/* var */
$bg:#FFFFFF;
$aColor:#000000;
$pColor:#000000;
$pic:url(../imgs/icon.png);
$pic_6:url(../imgs/icon_6.png);

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol,
ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; }
div { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, em { font-style: normal; }
ul,ol{ list-style-type: none; }
fieldset, img { border: 0; }
label, button { cursor: pointer; }
select, input, textarea { font-size: 12px; line-height: 1.2em; }
body { min-width:340px; height: 100%; background: $bg; font: 12px/1.6em "\5b8b\4f53","Arial Narrow";
  color: $pColor; -webkit-text-size-adjust: none; }
a { text-decoration: none; color: $aColor; }
a:hover { color: $aColor; text-decoration: none; }
section, article, aside, header, footer, nav, dialog, figure, hgroup { display: block; }
figure { margin: 0; }


/* module */
.clearfix{ zoom: 1; }
.clearfix:after{ content: ""; display: block; height: 0; line-height: 0; clear: both; visibility: hidden; }
.hide{text-indent: -9999px;}
.hidep{position: absolute;left:-9999px;}
.dot{overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.list .nopad{padding-right:0;margin-right:0;}
.mod{margin:0 auto;}
.tit{@extend .hide;}
@mixin picSite($pic,$site){
  background-image: $pic;
  background-position:$site;
  background-repeat: no-repeat;
  @if $pic == "url(../imgs/icon.png)" {
    _background-image:$pic_6;
  }
}
.btnStyle{
  -webkit-transform:translate(0,0);transform:translate(0,0);-webkit-transition:-webkit-transform .2s ease-in;transition:transform .2s ease-in;
  &:hover{-webkit-transform:translate(0,-3px);transform:translate(0,-3px);}
  &:active{-webkit-transform:translate(1px,-1px);transform:translate(1px,-1px);}
}
@mixin picReplace($pic,$site,$size){
  @include picSite($pic,$site);
  width:nth($size,1);
  height: nth($size,2);
}
@mixin absoluteSite($left,$top){
  position: absolute;
  left:$left;
  top:$top;
}
.con{max-width:1565px;margin:0 auto;}
/*===header===*/
.header{@extend .mod;width:100%;padding:21px 0 20px 0;position:relative;}
.logo-qq{display:inline-block;border-right:1px solid #e5e5e5;}
.logo-dx{padding-left:10px;}
.head-tip{position:absolute;top:20px;right:0;padding:12px 16px;background:#edeef0;border:1px solid #dedede;border-radius:3px;}

/*===nav===*/
.nav{background:#2B2B2B url(../imgs/bg-nav.png) repeat-x;padding:4px 0 0 0;}
.nav-wr{@extend .mod;@extend .clearfix;
  a{display:block;float:left;position:relative;}
}
.nav-main{float:left;@extend .clearfix;width:50%;padding-left:10px;}
.nav-main a{font-size:14px;padding:8px 12px;color:#ffffff;
  &:hover{background:#ffffff;background:-webkit-linear-gradient(bottom,#e2e2e2 0%,#ffffff 100%);background:-moz-linear-gradient(bottom,#e2e2e2 0%,#ffffff 100%);background:-ms-linear-gradient(bottom,#e2e2e2 0%,#ffffff 100%);background:linear-gradient(bottom,#e2e2e2 0%,#ffffff 100%);border-top-left-radius:2px;border-top-right-radius:2px;color:#000000;}
}
.nav-line{float:left;height:18px;width:0;border-left:1px solid #1c1c1c;border-right:1px solid #555555;position:relative;top:8px;}
.nav-sub{float:right;@extend .clearfix;}
.nav-sub a{color:#d7d7d7;font-size:12px;padding:8px 12px;
  &:hover{color:#ffffff;}
}
.ico-new{position:absolute;right:-10px;top:-10px;@include picReplace($pic,0 0,30px 14px);}

/*===banner===*/
.wr{padding:20px 0 ;@extend .clearfix;}
.focus{width:67%;width:-webkit-calc(100% - 320px);width:-webkit-calc(100% - 320px);
  width:-moz-calc(100% - 320px);width:calc(100% - 320px);float:left;position:relative;}
.focus-tit{height:330px;
  li{@include absoluteSite(0,0);opacity:0;width:100%;height:330px;-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;}
  .on{opacity:1;z-index:2;}
  img{display:block;width:660px;height:330px;}
}
.focus-if{@include absoluteSite(0,0);font-size:18px;z-index:11; height:230px;width:100%;
  .lis-focus-ln{height:100%;}
  li{@include absoluteSite(0,0);opacity: 0;width:100%;height:100%;}
  .on{opacity: 1;}
  .focus-ln{width:100%;height:240px;display: block;}
  .focustxt{padding-left: 50px;
    -webkit-transform:translate(-10px,0);transform:translate(-10px,0);opacity: 0;
    -webkit-transition:-webkit-transform .2s ease-out .2s,opacity .2s ease-in .2s;transition:transform .2s ease-out .2s ,opacity .2s ease-in .2s;
  }
  .focustxt a{color:#ffffff;display: block;width:100%;@extend .dot;line-height: 24px;}
  .on .focustxt{opacity: 1;-webkit-transform:translate(0,0);transform:translate(0,0);}
}
.ico-play{@include absoluteSite(20px,2px);@include picReplace($pic,0 -14px,22px 22px);}
.focus-nav{position:absolute;left:0;bottom:0;padding:40px 115px 10px 20px;overflow:hidden;z-index:10;background:rgba(0,0,0,.3);
  right:0;
}
.focusbox-wr{overflow: hidden;padding-top:11px;}
.focusbox-tigger{@extend .clearfix;width:10000px;position: relative;
  li{float:left;margin-right:7px;}
  a{display:block;width:64px;height:36px;border:2px solid #9da3a0;position: relative;}
  img{width:64px;height:36px;}
  .ico-arrow{@include absoluteSite(30px,-8px);border-left:5px solid transparent;border-right:5px solid transparent;
    border-bottom:6px solid #ffffff;width:0;height: 0;opacity: 0;}
  .on .ico-arrow{opacity: 1;}
  .on img{width:62px;height: 34px;}
  .on a{border:3px solid #ffffff;width:62px;height: 34px;}
}
.ico-prev,.ico-next{position:absolute;@extend .hide;cursor: pointer;opacity: 0.7;
  &:hover{opacity: 1;}
}
.ico-prev{@include picReplace($pic,-65px 0,37px 38px);right:58px;top:50px;}
.ico-next{@include picReplace($pic,-102px 0,37px 38px);right:10px;top:50px;}


/*===news===*/
.news{float: right;margin-left:20px;width:270px;background: #EAEBED;padding:25px 5px 0 25px;min-height: 305px;}
.news-main{font-size:16px;display: block;margin:5px auto;}
.news-item{padding:0 0 15px 0;
  a:hover{text-decoration: underline;}
}
.btn-dw-iphone,.btn-dw-all{width:158px;height: 53px;display: block;padding:0 17px 0 63px;position: relative;color:#858484;
  background:#E5E5E5;

  background:-webkit-linear-gradient(top,#ffffff 0%,#E5E5E5 100%);
  background:-moz-linear-gradient(top,#ffffff 0%,#E5E5E5 100%);
  background:-ms-linear-gradient(top,#ffffff 0%,#E5E5E5 100%);
  background:linear-gradient(top,#ffffff 0%,#E5E5E5 100%);
  border:1px solid #CCCCCC;border-radius:5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.2); text-align: center;_border:0;
  &:hover{color:#858484;border-color:#3294C1;box-shadow: 1px 1px 6px rgba(0,0,0,.2);}
  strong{display: block;font-size:16px;padding:10px 0 0 0;}
}
.ico-down{@include picReplace($pic,-30px 0,35px 35px);@include absoluteSite(12px,8px);}
.btns-group{@extend .clearfix;margin:0 0 14px 0;width:242px;}
.atten{width:88px;float: left;border:1px solid #9FC5E1;border-radius:2px;background: #E9EFF4;line-height: 19px;padding:0 0 0 22px;
  position: relative;color:#5284B7;}
.ico-qzone{@include absoluteSite(3px,1px);@include picReplace($pic,-16px -87px,17px 15px);display: block;}
.atten-num{border-left:1px solid #9FC5E1;float:right;height:19px;padding:0 3px;margin-left:3px;background: #ffffff;}
.btn-listen{float:right;padding:0 0 0 28px;width:89px;border:1px solid #BACAD6;border-radius:2px;position: relative;
  background:#F4F8FA;@extend .btnStyle;
}
.ico-qwb{@include absoluteSite(6px,1px);@include picReplace($pic,0 -87px,16px 17px);display: block;}

/*cloud*/
.cloud{border:3px solid #EAEBED;padding:1px 163px 0 0;width:980px - 169px;width:-webkit-calc(100% - 169px);
  width:-moz-calc(100% - 169px);width:calc(100% - 169px);position: relative;margin-bottom:20px;clear:both;top:20px;}
.tit-cloud{@include picReplace($pic,0 -104px,93px 19px);@extend .hide;margin:16px;}
.cloud-if{padding:10px 16px;}
.more{@include absoluteSite(200px,20px);color:#2A8DCC;
  &:hover{color:#2A8DCC;}
}
.btn-free{width:138px;height:16px;line-height:16px;padding:12px 0;font-size:14px; display: block;
  position: absolute;right:2%;top:20px;
  background:#FE9F01;color:#ffffff;text-align: center;
  background:-webkit-linear-gradient(top,#FE9F01 0%,#FF8000 100%);
  background:-moz-linear-gradient(top,#FE9F01 0%,#FF8000 100%);
  background:-ms-linear-gradient(top,#FE9F01 0%,#FF8000 100%);
  background:linear-gradient(top,#FE9F01 0%,#FF8000 100%);
  border:1px solid #EA7D00;border-radius:3px;
  &:hover{color:#ffffff;}
  @extend .btnStyle;
}

/*zone*/
.zone{border:1px solid #EAEBED;width:-webkit-calc(980px - 2px);width:-webkit-calc(100% - 2px);margin-bottom:20px;
  width:-moz-calc(100% - 2px);width:calc(100% - 2px);padding:10px 0 14px 0;
}
.slide-pt{position: relative;
  .ico-prev{background-position: -50px -122px;width:24px;height: 51px;left:0;top:46px;right:auto;
    &:hover{background-position: -1px -122px;}
  }
  .ico-next{background-position: -74px -122px;width:25px;height: 51px;right:0;top:46px;
    &:hover{background-position: -25px -122px;}
  }
  .ico-prev-false{background-position: -1px -122px;cursor:default;}
  .ico-next-false{background-position: -25px -122px;cursor:default;}
}
.slide-wr{overflow: hidden;}
.lis-slide{@extend .clearfix;width:10000px;position: relative;padding-left:4px;
  li{float:left;padding:0 15px;border-right:1px solid #EAEBED;}
  img{width:164px;height: 94px;}
}
.zone-name{height:22px;line-height:22px;font:14px "microsoft yahei";margin-bottom:10px;}
.zone-bg{background: #F7F7F7;}
.eng{font:12px "Arial";}
.eng1{color:#AB4CE1;}
.eng2{color:#DF2754;}
.eng3{color:#5DB3DA;}
.eng4{color:#7E4DC8;}


/*===hit===*/
.hit{border:1px solid #EAEBED;width:-webkit-calc(980px - 2px);width:-webkit-calc(100% - 2px);
  width:-moz-calc(100% - 2px);width:calc(100% - 2px);padding:10px 0 14px 0;margin-bottom:20px;
}
.tit-hit{font-size:22px;font-family: "microsoft yahei";line-height:25px;height:25px;padding:16px 0 10px 70px;
  position:relative;color:#666666;
  span{color:#ff7f02;}
}
.ico-hit{@include picReplace($pic,0 -36px,51px 51px);@include absoluteSite(15px,0);display: block;}
.lis-hit{padding:8px 0 0 0;@extend .clearfix;
  .hitest{border-left:0;
    img{width:160px;height: 160px;}
    .hit-num{font-size:80px;}
  }
  .hiter{
    .hit-num{font-size:80px;}
  }
  .hitso{
    .hit-num{font-size:44px;left:-5px;}
    .hit-prize span{font-size:18px;}
    .star-txt{display: none;}
    .star-wr{float:none;background-position: -50px -51px;top:0;
      .star{background-position: -50px -38px;}
    }
    .hit-star{background:none;border:0;padding:0 ;}
  }
}
.hit-item{padding:10px 26px 0 38px;border-left:1px solid #858484;float:left;overflow:hidden;position:relative;width:15%;
  .hit-num{font-family: "Arial";font-weight: bold;position:absolute;left:-10px;top:54px;color:#fcb303;
    -webkit-transform:translate(0,0);transform:translate(0,0);
    transition:transform .2s ease-in;transition:transform .2s ease-in;
  }
  .hit-prize{font-size:14px;font-family: "microsoft yahei";color:#f00000;
    span{font:22px "Arial";}
  }
  .hit-if,.hit-comment{padding: 2px 0 2px 0;color:#999999;
    a{color:#ff6d02;}
  }
  .hit-star{background:#FF8100;border:1px solid #FF8100;padding:0 0 0 8px;@extend .clearfix;width:152px;}
  .star-wr{position: relative;@include picReplace($pic,-50px -76px,79px 13px);float:left;top:3px;
    .star{@include picReplace($pic,-50px -64px,79px 12px);@include absoluteSite(0,0);width:50%;}
  }
  .star-txt{float:right;width:70px;background: #ffffff;text-align: center;color:#FF8100;}
  &:hover{
    .hit-num{-webkit-transform:translate(10px,0);transform:translate(10px,0);}
  }

}


/*product*/
.product{width:100%;}
.tit-product{width:191px;background: #598ADB;padding:14px 0 14px 53px;font:14px "microsoft yahei";height:18px;
  line-height:18px;color:#ffffff;position:relative;}
.ico-pro{@include picReplace($pic,-99px -90px,33px 31px);@include absoluteSite(10px,8px);display: block;}
.lis-product{border-top:4px solid #598ADB;@extend .clearfix;
  li{float:left;border:1px solid #858484;border-left:0;min-height:350px;position: relative;padding:0 0 10px 0;
    width:24%;width:-webkit-calc(25% - 2px);width:-moz-calc(25% - 2px);width:-ms-calc(25% - 2px);width:calc(25% - 2px);}
  .first{border-left:1px solid #858484;}
  .line2{border-top:0;}
  img{width:100%;max-width: 247px;margin:0 auto;display: block;}
}
.pro-if,.pro-sold{padding:0 22px 5px 22px;font-size:13px;line-height:15px;width:80%;}
.pro-if{height: 2em;overflow: hidden;}
.pro-if a{display: block;
  &:hover{color:#E70000;}
}
.oldcom{font-size:12px;display: block;color:#666666; padding:5px 0;
  i{font-size: 13px;font-style: normal;}
}
.recom{font-size:14px;color:#E70000;}
.sold-num{font-size:12px;padding:0 5px;color:#858484;
  strong{color:#b8090d;}
}
.btn-buy{width:77px;font-size:14px;height:16px;line-height: 16px;padding:5px 0;display: block;margin:10px 0 0 22px;
  background: #FF5450;border-radius:2px;color:#ffffff;text-align: center;
  &:hover{color:#ffffff;}
  @extend .btnStyle;
}
.ico-hot,.ico-hot2{position: absolute;right:5px;top:5px;font:14px "microsoft yahei";text-align: center;line-height: 45px;color:#ffffff;}
.ico-hot{@include picReplace($pic,-99px -122px,50px 50px);}
.ico-hot2{@include picReplace($pic,-99px -173px,50px 50px);}

/*==ie hack===*/
.lteie8{
  .focusbox-tigger {
    .ico-arrow{display: none;}
    .on .ico-arrow{display: block;}
  }
  .focus-if li{display: none;}
  .focus-if .on{display: block;}
  .con,.header{width:980px;}
  .slide-wr{*position:relative;*width:978px;}
  .slide-item{*width:164px;}
  .lis-hit .hitest,.lis-hit .hiter{*width:160px;}
  .lis-hit .hitso{width:83px;
    .hit-star,p{*width:79px;}
  }
  .hitest .hit-star,.hitest p,.hiter .hit-star,.hiter p{width:152px;}
  .atten{*width:84px;}
  .atten-num{*float:none;*position:absolute;*right:0;*top:0;}
  .head-tip{_width:47%;}
  .lis-product img{width:100%;_width:auto;}
  .focusbox-tigger .ico-arrow{_border:0;_width:11px;_height:6px;_background:url(../imgs/ie6.png) -138px -56px;}
  .hit-item{width:auto;}
  .lis-product li{width:24.85%;*width:24.8%;}
  .btn-dw-iphone,.btn-dw-all{background:url(../imgs/ie6.png) 0 0;border:0;}
  .btn-free{background:url(../imgs/ie6.png) 0 -56px;border:0;}
  .focusbox-wr{_width:525px;_position:relative;}
  .focus-if .focustxt{position:relative;}
  .ico-play{_left:-30px;}
  .lis-hit .hit-item .hit-num{*line-height: 80px;}
  .lis-hit .hitso .hit-num{*line-height: 44px;}
  .bg-nav{position:absolute;left:0;top:229px;padding:40px 115px 10px 20px;overflow:hidden;z-index:2;background:rgb(0,0,0);
    filter:alpha(opacity=60); width:522px;height: 51px;
  }
}


/*media query*/
/* for 1440 px width screen */
@media only screen and (min-width:1565px){
  .con{width:1565px;}
  .focusbox-tigger li{margin-right:15px;}
  .nav-main a{padding:8px 30px;}
}
/* for 1440 px width screen */
@media only screen and (min-width:1370px) and (max-width:1565px){
  .con{width:1370px;}
  .focusbox-tigger li{margin-right:10px;}
  .nav-main a{padding:8px 25px;}
}
/* for 1240 px width screen */
@media only screen and (max-width:1370px){
  .con{width:980px;}
  .hit-item{width:auto;}
  .hitso{width:83px;}
}
/* for 980 px width screen */
@media only screen and (max-width:980px){
  .con{width:100%;}
  .nav-sub,.nav-line{display:none;} 
  .nav-main{width:80%;}
  .focus{width:95%;margin:0 auto 20px auto;float:none;}
  .news{float:left;}
  .cloud{float:right;width:67%;width:-webkit-calc(100% - 370px);width:-webkit-calc(100% - 370px);
  width:-moz-calc(100% - 370px);width:calc(100% - 370px);padding-right:0;clear:none;top:0;min-height:325px;text-indent:2em;margin-right:20px;}
  .cloud-if{line-height:30px;font-size:16px;padding-bottom:30px;}
  .btn-free{position:static;margin:0 20px 20px 20px;}
  .more{right:10px;left:auto;}
  .lis-product li{width: 48%;width: -webkit-calc(50% - 2px);width: -moz-calc(50% - 2px);width: -ms-calc(50% - 2px);width: calc(50% - 2px);}
  .lis-product li:nth-child(n+1){border-top:0;}
  .lis-product .first2{border-left:1px solid #858484;}
  .lis-hit .hitest,.lis-hit .hiter{width: 28%;width: -webkit-calc(33% - 64px);width: -moz-calc(33% - 64px);width: -ms-calc(33% - 64px);width: calc(33% - 64px);}
  .lis-hit .hit-item img{width:100%;max-width:240px;height:auto;}
  .hit-item .star-txt{display:none;}
  .hit-item .hit-star{height:18px;max-width:100px;}
  .lis-hit .hitso4{border-left:0;}
  .head-tip{width:50%;padding:10px;}
}

/* for 640 px width screen */
@media only screen and (max-width:640px){
  .head-tip{display:none;}
  .nav-main {width: 95%;}
  .news,.cloud{float:none;}
  .cloud{width:95%;width:-webkit-calc(100% - 46px);width:-webkit-calc(100% - 46px);
  width:-moz-calc(100% - 46px);width:calc(100% - 46px);}
  .news{width:90%;width:-webkit-calc(100% - 71px);width:-webkit-calc(100% - 71px);
  width:-moz-calc(100% - 71px);width:calc(100% - 71px);}  
  .news-item,.btns{width:270px;margin:0 auto;}
  .lis-product li{width: 98%;width: -webkit-calc(100% - 2px);width: -moz-calc(100% - 2px);width: -ms-calc(100% - 2px);width: calc(100% - 2px);}
  .lis-product li{border-left:1px solid #858484;}
  .lis-hit .hitest,.lis-hit .hiter{width: 95%;width: -webkit-calc(50% - 64px);width: -moz-calc(50% - 64px);width: -ms-calc(50% - 64px);width: calc(50% - 64px);border-left:0;}
  .lis-hit .hitso{width: 23%;width: -webkit-calc(25% - 65px);width: -moz-calc(25% - 65px);width: -ms-calc(25% - 65px);width: calc(25% - 65px);}
  .lis-hit .hitso6{border-left:0;}
} 
/* for 480 px width screen */
@media only screen and (max-width:480px){
  .lis-hit .hitest,.lis-hit .hiter{width: 95%;width: -webkit-calc(100% - 64px);width: -moz-calc(100% - 64px);width: -ms-calc(100% - 100);width: calc(100% - 64px);border-left:0;}
  .lis-hit .hitso{width: 43%;width: -webkit-calc(50% - 66px);width: -moz-calc(50% - 66px);width: -ms-calc(50% - 66px);width: calc(50% - 66px);}
}


/* animation */
@-webkit-keyframes jump{
  0%,100%{-webkit-transform:translate(0,0);transform:translate(0,0);}
  20%,60%{-webkit-transform:translate(0,0);transform:translate(0,0);}
  34%,74%{-webkit-transform:translate(0,5px);transform:translate(0,5px);}
  48%,88%{-webkit-transform:translate(0,0);transform:translate(0,0);}
}
@keyframes jump{
  0%,100%{-moz-transform:translate(0,0);transform:translate(0,0);}
  20%,60%{-moz-transform:translate(0,0);transform:translate(0,0);}
  34%,74%{-moz-transform:translate(0,5px);transform:translate(0,5px);}
  48%,88%{-moz-transform:translate(0,0);transform:translate(0,0);}
}
:root .ico-new{-webkit-animation:jump 1.2s ease-in;animation:jump 1.2s ease-in;}

@-webkit-keyframes hotShake{
  0%,100%{-webkit-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);}
  20%,60%{-webkit-transform:scale(1.1) rotate(5deg);transform:scale(1.1) rotate(5deg);}
  34%,74%{-webkit-transform:scale(0.9) rotate(-5deg);transform:scale(0.9) rotate(-5deg);}
  48%,88%{-webkit-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);}
}
@keyframes hotShake{
  0%,100%{-moz-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);}
  20%,60%{-moz-transform:scale(1.1) rotate(5deg);transform:scale(1.1) rotate(5deg);}
  34%,74%{-moz-transform:scale(0.9) rotate(-5deg);transform:scale(0.9) rotate(-5deg);}
  48%,88%{-moz-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);}
}


:root .lis-product li:hover{
  .ico-hot,.ico-hot2{-webkit-animation:hotShake .8s ease-in;animation:hotShake .8s ease-in;}
}