.m-name{
	color:#73b501;
	font-size:3em;
	text-shadow:1px 1px 5px rgba(102,101,101,.18);
	margin:0.5em 0 0 0;
	line-height:100%;
	text-align:center;
}
.m-subhead{
	font-size:1em;
	text-align:center;
	margin:0;
}
.nav{
	margin:1.6em 0;
}
.m-list{
	text-align:center;
	width:18%;
	display:inline-block;
	height:3em;
}
.m-listan{
	font-size:1.5em;
	font-family:"黑体",Arial,Kartika,sans-serif;
	font-weight:500;
	position:relative;
	
}
.m-listan:after{
	content:attr(data-name);
	position:absolute;
	bottom:-1.2em;
	left:0;
	font-size:0.8em;
}
.m-listan:hover,.m-listan:hover:after{
	color:#73B501;
}
.m-listan:before{
	content:"";
	position:absolute;
	bottom:-1.3em;
	left:50%;
	display:block;
	height:2px;
	width:0;
	background:#73B501;
	transition:width .5s ease-in,left .5s ease-in;
	-moz-transition:width .5s ease-in,left .5s ease-in;
	-webkit-transition:width .5s ease-in,left .5s ease-in;
}
.m-listan:hover,.m-listan:hover:before{
	width:100%;
	left:0;
}
.header{
	border-bottom:2px solid #434343;
	padding-bottom:0.5em;
}
.m-side{
	margin:1.5em 0;
	text-align:center;
}
.m-searchstyle{
	width:70%;
	border:1px solid #4496c6;
	box-shadow:1px 1px 5px rgba(102,101,101,.18);
	-moz-box-shadow:1px 1px 5px rgba(102,101,101,.18);
	-webkit-box-shadow:1px 1px 5px rgba(102,101,101,.18);
}
.m-button{
	background:#4496c6;
	border:1px solid #8ccdf4;
	box-shadow:0px 0px 3px rgba(68,150,198,.78);
	-moz-box-shadow:0px 0px 3px rgba(68,150,198,.78);
	-webkit-box-shadow:0px 0px 3px rgba(68,150,198,.78);
	 
}
.m-button:hover{
	background:#3486b9;
	box-shadow:0px 0px 3px rgba(68,150,198,.88);
	-moz-box-shadow:0px 0px 3px rgba(68,150,198,.88);
	-webkit-box-shadow:0px 0px 3px rgba(68,150,198,.88);
}
.m-butvalue{
	font-size:1.4em;
	font-family:'RaphaelIcons';
	color:#fff;
	width:10%;
	
}
.m-sidehead,.m-aside{
	text-align:left;
	color:#73B501;
	margin:0.67em 0 0 0.7em;
}
.m-side ul{
	padding:0 0 0 1em;
	margin:0;
}
.m-side ul li{
	padding:0.6em 0;
	border-bottom:1px solid #cccccc;
}
.m-sidelistan{
	font-size:1.2em;
	font-family:"黑体",Arial,Kartika,sans-serif;
	font-weight:500;
	color:#4496c6;
	display:block;
}
.m-sidelistan:hover{
	text-shadow:0 0 1px rgba(68,150,198,.7);
}
.m-sidelistan:before{
	content:":";
	font-family:'RaphaelIcons';
	color:#444;
	text-shadow:0 0 1px rgba(0,0,0,.9);
	padding:0 0.5em 0 0;
}
.m-sidelistan:after{
	content:attr(data-name);
	padding:0 0.5em;
	font-size:0.8em;
}
.m-newest, .m-smallgroup{
	width:100%;
	margin:1.5em 0;
}
.m-imagenew,.m-imagesmall{
	width:55%;
	float:left;
	max-width:55%;
	margin:0 0.8em 0.8em 0;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:3px solid rgba(122,193,42,.43);
}
.m-newest .content{
	margin-left:56%;
}
.m-imagenew:hover,.m-imagesmall:hover{
	border:3px solid rgba(122,193,42,.86);
}
.m-titlenew {
	color:#73b501;
	font-size:1.6em;
	margin:0;
}
.m-titlenew a{
	display:block;
}
.m-titlenew a:hover{
	color:#73b501;
}
.m-subline{
	color:#999;
	font-size:0.8em;
	line-height:1.2em;
}
.m-subline a{
	color:#4496C6;
}
.m-subline a:hover{
	text-decoration:underline;
}
.m-more{
	color:#fff;
	padding:0.2em 0.3em 0.1em 0.3em;
	font-size:0.9em;
	float:right;
	margin-right:1em;
}
.m-small{
	width:48%;
	border:1px solid #ccc;
	padding:1em;
	box-shadow:1px 1px 1px rgba(0,0,0,.10);
	-moz-box-shadow:1px 1px 1px rgba(0,0,0,.10);
	-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.10);
}
.m-imagesmall{
	width:30%;
	max-width:30%;
}
.m-titlesmall{
	font-size:1.4em;
}
.m-titlesmall+p{
	margin:0.5em 0;
}
.m-small .content{
	font-size:0.8em;
}
.footer{
	border-top:2px solid #434343;
}
.footer p{
	text-align:center;
	font-size:0.8em;
}
.visible-phone{
	display:none;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 979px) {
	body{
		font-size:15px;
	}
}
@media (max-width: 480px) {
	body{
		font-size:14px;
	}
	.l-logo{
		width:65.812%;
		text-align:left;
	}
	.hidden-phone{
		display:none;
	}
	.visible-phone{
		display:inline-block;
	}
	section.l-nav{
		width:98%;
		margin-top:0;
	}
	.m-small{
		width:98%;
	}
	.l-nofirst {
		margin-left: 0;
		margin-top:1.5em;
	}
	.m-name{
		font-size:1.4em;
	}
	.m-imagenew{
		float:none;
		width:100%;
		max-width:100%;
	}
	.m-newest .content{
		margin-left:0;
	}
	/*导航栏部分*/
	.m-navmain{
		width:27px;
		float:left;
		position:relative;
	}
	.m-navmain img,.tosidenav img{
		width:27px;
		float:left;
		position:relative;
		padding:0.3em 0 0 0;
	}
	.m-navmain img,.tosidenav img{
		
		font-size:2em;
		line-height:90%;
		cursor:pointer;
	}
	.shawMainNav{
		display:block;
		position:absolute;
		width:600%;
		margin:0 0 0 -300%;
		left:50%;
	}
	.shawMainNav .nav{
		padding:0.5em;
		margin:32px;
		background:rgba(0,0,0,.7);
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		position:relative;
	}
	.shawMainNav .nav:before,.showAsideNav:before{
		content:"";
		position:absolute;
		left:50%;
		
		width:0;
		height:0;
		border-left:6px solid transparent;
		border-right:6px solid transparent;
		border-bottom:6px solid rgba(0,0,0,.7);
		top:-6px;
	}
	.shawMainNav .m-list{
		display:block;
		width:100%;	
	}
	.shawMainNav .m-listan{
		color:#fff;
		display:block;
	}
	.shawMainNav .m-listan:after,.shawMainNav .m-listan:before,.showAsideNav  .m-sidelistan:after,.showAsideNav  .m-sidelistan:before{
		content:'';
		height:0;
		transition:none;
	}
	/*显示侧边栏部分*/
	
	.tosidenav{
		display:block;
	}
	.tosidenav img{
		width:31px;
	}
	.showAsideNav{
		display:block;
		position:absolute;
		right:0.5em;
		width:40%;
		background:rgba(0,0,0,.7);
		margin:0;
	}
	.showAsideNav .search{
		padding:0.5em 0 0 0.5em;
	}
	.showAsideNav .m-butvalue{
		width:15%;
	}
	.showAsideNav .m-sidehead{
		font-size:1.2em;
	}
	.showAsideNav li{
		display:inline-block;
	}
}