*{
	padding: 0;
	margin: 0;
}
html,body{
	height:100%;
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
#container{
	display: none;
}
#foreWord{
	position: absolute;
	top:0;
	left:50%;
	margin-left:-480px;
	width:960px;
	height:100%;
	/*margin:0 auto;*/
	z-index: 200;
	background-color: #262626;
}
#header{
	width:662px;
	height: 337px;
	margin:0 auto;
}
img.ruoimg{
	opacity:0;
}
#loading{
	position: relative;
	width:960px;
}
.headimg img.ruoimg{
	opacity:0;
	-webkit-animation: showheader 3000ms linear;
	opacity:1;
}
.probar{
	position: absolute;
	top:40px;
	left:150px;
	width: 500px;
	height:14px;
	background-color: #ffffff;
	border-radius: 7px;
}
.probar_inner{
	width:0;
	height:14px;
	background-color:#9B9B9B;
	border-radius: 8px;
}
.probar_ax{
	position: absolute;
	top:-25px;
	left:-20px;
	height:60px;
	width:60px;
	background:url(../img/futou2.png) no-repeat top left;
	z-index: 820;
}

.egg{
	position: absolute;
	left: 660px;
	top: -43px;
	height: 180px;
	width: 120px;
	background-color: #ffffff;
	border: solid 2px #000000;
	border-radius: 60px/80px;
	box-shadow: 1px 1px 15px #FFFF00;
}

.egg:after{
	content: '';
	height: 180px;
	width: 120px;
	background-color: #ffffff;
	border: solid 2px #000000;
	border-radius: 65px/80px;
	position: absolute;
	top:1px;
	left: 1px;
}
.egg i{
	border: 1px solid #000000;
	/*background-color: #ffffff;*/
	z-index: 999;
}
.egg i:nth-child(1){
	position: absolute;
	top:90px;
	width: 0;
	height: 0;	
	border-left:none;
	border-bottom: none;		
	opacity:0;
	-webkit-transform: rotate(-45deg);
	-webkit-transform-origin:left top;		
}
.egg i:nth-child(2){
	position: absolute;
	top:110px;
	left:62px;
	width: 0;
	height: 0;
	border-left:none;
	border-bottom: none;
	opacity:0;
	-webkit-transform-origin:left top;
	-webkit-transform: rotate(-45deg);			
}
.animation #egg_first i:nth-child(1){
	background-color: #ffffff;
	-webkit-animation: eggbroke1 1000ms linear;
	width:30px;
	height:57px;
	opacity:1;
	background-color: #262626;
}
.animation #egg_first i:nth-child(2){
	background-color: #ffffff;
	-webkit-animation: eggbroke2 2000ms linear;
	width:57px;
	height:28px;
	opacity:1;
	background-color: #262626;
}
.animation #egg_second i:nth-child(1){
	border-left:1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	-webkit-animation: eggbroke1 1000ms linear;
	width:30px;
	height:57px;
	opacity:1;
	background-color: #ffffff;
}
.animation #egg_second i:nth-child(2){
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	-webkit-animation: eggbroke2 2000ms linear;
	width:57px;
	height:28px;
	opacity:1;
	background-color: #ffffff;
}
.animation #egg_first{
	-webkit-animation: eggmove1 3000ms linear;
	top:-93px;
}
.animation #egg_second{
	-webkit-animation: eggmove2 3000ms linear;
	top:7px;
}
@-webkit-keyframes eggbroke1{
	0%{
		width: 0;
		height: 0;
		opacity:0;
		/*background-color: #ffffff;*/
	}
	74%{
		width: 0;
		height: 0;
		opacity:0;
		/*background-color: #ffffff;*/
	}
	75%{
		width:30px;
		height:0;
		opacity:0;
		/*background-color: #ffffff;*/
	}
	76%{
		width:30px;
		height:0;
		opacity:1;
		/*background-color: #ffffff;*/
	}
	99%{
		width:30px;
		height:0px;
		opacity:1;
		/*background-color: #ffffff;*/
	}
	100%{
		width:30px;
		height:57px;
		opacity:1;
		/*background-color: #262626;*/
	}
}
@-webkit-keyframes eggbroke2{
	0%{
		width: 0;
		height: 0;
		opacity:0;
	}
	74%{
		width: 0;
		height: 0;
		opacity:0;
	}
	75%{
		width:57px;
		height:0;
		opacity:0;
	}
	76%{
		width:57px;
		height:0;
		opacity:1;
	}
	99%{
		width:57px;
		height:0px;
		opacity:1;
	}
	100%{
		width:57px;
		height:28px;
		opacity:1;
	}
}
@-webkit-keyframes eggmove1{
	0%{
		top:-43px;
	}
	99%{
		top:-43px;
	}
	100%{
		top:-93px;
		
	}
}
@-webkit-keyframes eggmove2{
	0%{
		top:-43px;
	}
	99%{
		top:-43px;
	}
	100%{
		top:7px;
	}
	
}
@-webkit-keyframes showcover{
	0%{
		height:0;
		top:47px;
	}
	99%{
		height:0;
		top:47px;
	}
	100%{
		height:100px;
		top:-3px;
	}
}
@-webkit-keyframes showheader{
	0%{
		opacity:0;
	}
	90%{
		opacity:0.5;
	}
	100%{
		opacity:1;
	}
}
@-webkit-keyframes showcover2{
	0%{
		opacity:0;
	}
	99%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
.cover{
	position: absolute;
	width:160px;
	left: 650px;
	top:47px;			
	text-align:center;
	font-weight:bold;
	color: red;
	z-index: 800;
}
.animation .cover{
	background-color: #262626;
	-webkit-animation: showcover 3000ms linear;
	height:100px;
	top:-3px;
}
.animation .cover2{
	position:absolute;
	top:-40px;
	left:700px;
	width: 50px;
	height:50px;
	background-color: #ffffff;
	-webkit-transform: rotate(45deg);
	z-index: 801;
	opacity:0;
	-webkit-animation: showcover2 3000ms linear;
	opacity: 1;
}
.animation .cover2:after{
	content:'';
	position:absolute;
	top:70px;
	left:90px;
	width: 50px;
	height:50px;
	background-color: #262626;
}
.animation .start_btn{
	position: absolute;
	top:30px;
	left:665px;
	height:39px;
	width:120px;
	cursor: pointer;
	border:none;
	background:url(../img/startbutton1.png)  no-repeat top left;
	z-index: 1200;
	opacity:0;
	-webkit-transform: rotate(-7deg);
	-webkit-animation: showcover2 3000ms linear;
	opacity: 1;
}
.animation .start_btn:hover{
	background:url(../img/startbutton2.png)  no-repeat top left;
}
.animation .about_btn{
	position: absolute;
	top:30px;
	left:770px;
	height:39px;
	width:120px;
	cursor: pointer;
	border:none;
	background:url(../img/aboutbutton1.png)  no-repeat top left;
	z-index: 1200;
	opacity:0;
	-webkit-transform: rotate(60deg);
	-webkit-transform-origin: left bottom;
	-webkit-animation: showcover2 3000ms linear;
	opacity: 1;
}
.animation .about_btn:hover{
	background:url(../img/aboutbutton2.png)  no-repeat top left;
}
/*#header,#loading{
	display: none;
}*/
#prologue{
	position: relative;
	height:100%;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	display: none;
}
#prologue img{
	opacity:1;
}
.huoyun{
	position: absolute;
	bottom:30px;
	right:0;
}
.huoyun:after{
	content: '火云邪神';
	position: absolute;
	bottom:-20px;
	left:100px;
}
.xingye{
	position: absolute;
	bottom:30px;
	left:0;
}
.xingye:after{
	content:'星爷';
	position:absolute;
	bottom:-20px;
	left:80px;
}
#huoyunsay{
	position: absolute;
	bottom:350px;
	right:100px;
	width:250px;
	height:150px;
	color: #000000;
	background-color: #ffffff;
	border-radius: 180px/130px;
	box-shadow: 0 0 40px #25A6F6 inset;
}
#huoyunsay:after{
	content: '';
	position: absolute;
	bottom:-35px;
	right:70px;
	width:50px;
	height:24px;
	border-radius: 25px/12px;
	background-color: #ffffff;
	box-shadow: 0 0 10px #25A6F6 inset;
}
#huoyunsay:before{
	content:'';
	position: absolute;
	top:8px;
	left:100px;
	height:30px;
	width: 30px;
	background:url(../img/se.gif) no-repeat top left;
}
#xingyesay{
	position: absolute;
	bottom:350px;
	left:100px;
	width:250px;
	height:150px;
	color: #000000;
	background-color: #ffffff;
	border-radius: 180px/130px;
	box-shadow: 0 0 40px #25A6F6 inset; 
}
#xingyesay:after{
	content: '';
	position: absolute;
	bottom:-35px;
	left:30px;
	width:50px;
	height:24px;
	border-radius: 25px/12px;
	background-color: #ffffff;
	box-shadow: 0 0 10px #25A6F6 inset;
}
#xingyesay:before{
	content:'';
	position: absolute;
	top:8px;
	left:100px;
	height:30px;
	width: 30px;
	background:url(../img/angry.gif) no-repeat top left;
}
#someday{
	width: 960px;
	position: absolute;
	bottom: 200px;
	text-align: center;
	font-size:26px;
	opacity:0;
	-webkit-animation: messageshow 4s linear;
}
@-webkit-keyframes messageshow{
	0%{
		opacity:0;
	}
	10%{
		opacity:1;
	}
	85%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
#huoyunsay p,#xingyesay p{
	position: absolute;
	top:50px;
	width: 250px;
	text-align: center;
	opacity:0;
}
#huoyunsay p:nth-child(1){
	-webkit-animation: dialogshow 8s linear;
	opacity:0;
}
#xingyesay p:nth-child(1){
	-webkit-animation: dialogshow2 12s linear;
	opacity:0;
}
#huoyunsay p:nth-child(2){
	-webkit-animation: dialogshow3 16s linear;
	opacity:0;
}
#xingyesay p:nth-child(2){
	-webkit-animation: dialogshow4 20s linear;
	opacity:0;
}
#huoyunsay p:nth-child(3){
	-webkit-animation: dialogshow5 24s linear;
	opacity:0;
}
@-webkit-keyframes dialogshow{
	0%{
		opacity:0;
	}
	50%{
		opacity: 0;
	}
	60%{
		opacity:1;
	}
	90%{
		opacity:1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes dialogshow2{
	0%{
		opacity:0;
	}
	66%{
		opacity: 0;
	}
	70%{
		opacity:1;
	}
	96%{
		opacity:1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes dialogshow3{
	0%{
		opacity:0;
	}
	75%{
		opacity: 0;
	}
	78%{
		opacity:1;
	}
	97%{
		opacity:1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes dialogshow4{
	0%{
		opacity:0;
	}
	80%{
		opacity: 0;
	}
	82%{
		opacity:1;
	}
	98%{
		opacity:1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes dialogshow5{
	0%{
		opacity:0;
	}
	83%{
		opacity: 0;
	}
	85%{
		opacity:1;
	}
	98%{
		opacity:1;
	}
	100%{
		opacity: 0;
	}
}
#passSay{
	position: absolute;
	top:1px;
	right:10px;
	font-size: 28px;
	color: #ffffff;
	cursor: pointer;
	text-decoration: underline;
}
#passSay:hover{
	font-size: 30px;
}